# openapi2-run.yaml
swagger: "2.0"
info:
    title: backed-api optional-string
    description: Sample API on API Gateway with a Cloud Run backend
    version: 1.0.0
host: backed-api.apigateway.mussia8.cloud.goog
#host: aris-8jo9nv6l.ew.gateway.dev
#host: backed-api.apigateway.mussia8.cloud.goog
schemes:
    - https
produces:
    - application/json
paths:
    /service1:
        get:
            parameters:
                - in: path
                  name: asset
                  type: string
                  required: true
                  description: Name of the asset.
            summary: Assets
            operationId: getService1
            x-google-backend:
                address: https://service1-5g7d5fmura-lm.a.run.app/
#                address: https://service1-5g7d5fmura-lm.a.run.app/
            responses:
                "200":
                    description: A successful response
                    schema:
                        type: string
        post:
            parameters:
                - in: path
                  name: asset
                  type: string
                  required: true
                  description: Name of the asset.
            summary: Assets
            operationId: postService1
            x-google-backend:
                address: https://service1-5g7d5fmura-lm.a.run.app/
            responses:
                "200":
                    description: A successful response
                    schema:
                        type: string
#
#        put:
#            parameters:
#                - in: path
#                  name: asset
#                  type: string
#                  required: true
#                  description: Name of the asset.
#            summary: Assets
#            operationId: putService1
#            x-google-backend:
#                address: https://service1-5g7d5fmura-lm.a.run.app/
#            responses:
#                "200":
#                    description: A successful response
#                    schema:
#                        type: string
    /service1/(id):
        delete:
            parameters:
                - in: path
                  name: asset
                  type: string
                  required: true
                  description: Name of the asset.
            summary: Assets
            operationId: deleteService1
            x-google-backend:
                address: https://service1-5g7d5fmura-lm.a.run.app/
            responses:
                "200":
                    description: A successful response
                    schema:
                        type: string
#    /service2:
#        get:
#            security:
#                - google_id_token
#            parameters:
#                - in: path
#                  name: asset
#                  type: string
#                  required: true
#                  description: Name of the asset.
#            summary: Assets
#            operationId: getService2
#            x-google-backend:
#                address: https://service2-5g7d5fmura-ew.a.run.app/
#            responses:
#                "200":
#                    description: A successful response
#                    schema:
#                        type: string

#securityDefinitions:
#  google_id_token:
#    flow: "implicit"
#    type: "oauth2"
#    x-google-issuer: "https://accounts.google.com"
#    authorizationUrl: "ars"
